:root {
    --black : #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    max-height: 50px;
    padding: 6px;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: #000;
    margin: 0 5px;
    font-size: 15px;
    color: rgba(0,0,0,0.87);
}
nav img {
    border-radius: 50%;
    margin-left: 10px;
}
.nav-svg {
    color: pink;
}
.container {
    max-width: 80vw;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 92px;
    max-width: 25%;
}

.input{
    width: 100%;
    margin-top: 15px;
    position: relative;
    display: flex;
}
.input .search, .microphone {
    position: absolute;
}

.input .search {
    position: relative;
    right: 73%;
    top: 2px;
}

.input .microphone {
    position: relative;
    right: 26%;
    top: 2px;
}

#search {
    margin: 10px auto;
    border: 1px solid #dfe1e5;
    height: 45px;
    width: 100%;
    max-width: 584px;
    border-radius: 50px;
    outline: none;
    text-indent: 50px;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.languages {
    font-size: small;
}

.languages a {
    text-decoration: none;
    padding-left: 10px;
}

footer {
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .top {
    font-size: 15px;
    color: rgba(0,0,0, 0.54);
    padding: 15px 30px;
    border-bottom:1px solid #dadce0;
}

footer a {
    text-decoration: none;
    color: rgba(0,0,0,0.54);
    font-size: 15px;
}

footer .middle {
    text-align: center;
    padding-top: 15px;
}

footer .middle img {
    height: 14px;
    margin-right: 6px;
}

footer .bottom {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

footer .bottom a {
    padding: 10px;
}